This is a sample Rails app with the Issuer gem configured. There's not much to see here, except for:

<ul>
  <li>The issuer config file. Please note all configurations are done in environment variables here</li>
  <li>The thing in action: <%= link_to "click here to raise an exception", sample_error_path %> or <%= link_to "here to see the errors", "#" %> on the sample app Issues on Github</li>
</ul>